Zeta/Demo/Demo/XMLFiles/Schemas/DarkFunctionAnim.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="animations" type="animationsType">
		<xs:annotation>
			<xs:documentation>Generated by darkFunction Editor
				(www.darkfunction.com)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="sprType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="name" use="required" />
				<xs:attribute type="xs:int" name="x" use="required" />
				<xs:attribute type="xs:int" name="y" use="required" />
				<xs:attribute type="xs:int" name="z" use="required" />
				<xs:attribute type="xs:float" name="angle" use="optional"
					default="0" />
				<xs:attribute type="xs:int" name="flipH" use="optional"
					default="0" />
				<xs:attribute name="flipV" type="xs:int" use="optional"
					default="0"></xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="cellType">
		<xs:sequence>
			<xs:element type="sprType" name="spr" maxOccurs="unbounded"
				minOccurs="0" />
		</xs:sequence>
		<xs:attribute type="xs:int" name="index" use="required" />
		<xs:attribute type="xs:int" name="delay" use="required" />
	</xs:complexType>
	<xs:complexType name="animType">
		<xs:sequence>
			<xs:element type="cellType" name="cell" maxOccurs="unbounded"
				minOccurs="0" />
		</xs:sequence>
		<xs:attribute type="xs:string" name="name" use="required" />
		<xs:attribute type="xs:int" name="loops" use="required" />
	</xs:complexType>
	<xs:complexType name="animationsType">
		<xs:sequence>
			<xs:element type="animType" name="anim" maxOccurs="unbounded"
				minOccurs="0" />
		</xs:sequence>
		<xs:attribute type="xs:string" name="spriteSheet" use="required" />
		<xs:attribute type="xs:float" name="ver" use="required" />
	</xs:complexType>
</xs:schema>